

<div id="rural-stories">

  <div class="story image-section header">
    <div class="image-wrap">
      <div class="image">
        <img srcset="/themes/ncta/templates/landing/rural_stories/images/header/main_street_499w.jpg 499w,
                    /themes/ncta/templates/landing/rural_stories/images/header/main_street_767w.jpg 767w,
                    /themes/ncta/templates/landing/rural_stories/images/header/main_street_991w.jpg 991w,
                    /themes/ncta/templates/landing/rural_stories/images/header/main_street_1199w.jpg 1199w,
                    /themes/ncta/templates/landing/rural_stories/images/header/main_street_2000w.jpg 2000w"
             sizes="100vw"
             src="/themes/ncta/templates/landing/rural_stories/images/header/main_street_2000w.jpg" alt="Main Street St. Francis Kansas">
      </div>
    </div>
    <div class="title-wrap">
      <h1 class="story-title">Connecting Rural America</h1>
      <h2 class="story-subtitle">St. Francis, Kansas</h2>
    </div>
  </div>

  <div class="story one text-section dark-blue pp-scrollable">
    <div class="container">
      <div class="row one">
        <div class="col-md-12">
          <h2 class="section-title">A Small Community<br>with a Big Heart</h2>
        </div>
      </div>
      <div class="row two">
        <div class="col-md-6 col-left">
          <div class="quote-wrap">
            <img src="/themes/ncta/templates/landing/rural_stories/images/one/st_francis_map.svg" />
          </div>
        </div>
        <div class="col-md-6 col-right">
          <p>
            In St. Francis, a rural town in Northwest Kansas with a population of just over 1,300 people,
            Jason Padgett spends his days connecting his community.
          </p>
          <p>
            “A lot of people here in town, they know me directly,” says Padgett, the local broadband internet technician.
            “I’m the one who gets to see them smile when all of a sudden, everything starts working.”
          </p>
          <p>
            In 2015, Padgett, along with five other St. Francis community members, formed an internet committee and
            partnered with Eagle Communications to spearhead a fiber project that would bring broadband internet to the remote community.
            At first, the committee struggled to obtain enough signatures to justify Eagle’s investment in the infrastructure,
            but Eagle decided to fund the project on their own, inspired by the possibility of connecting a community that had otherwise fallen off the map.
          </p>
          <p>
            Now, Padgett serves as Eagle’s resident broadband technician, working daily to install new residents with high-speed internet and
            carry out routine maintenance for those who are already connected.
          </p>
          <p>
            “There’s a lot more opportunities now than there was before,” says Padgett. “The school district, hospital, courthouse, EMS building,
            our Equity–just about every major business that I can think of has switched over to Eagle.”
          </p>
          <p>
            Over the past decade, ISPs have worked tirelessly to increase broadband accessibility in all corners of the country. In fact, today 94 percent of America has access to high-speed internet speeds over 25 Mbps. But there is work to be done in the most rural and remote corners of the country, especially in agricultural communities like St. Francis.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="story image-section dark-blue">
    <div class="image-wrap">
      <div class="image">
        <img srcset="/themes/ncta/templates/landing/rural_stories/images/one/st_francis_499w.jpg 499w,
                  /themes/ncta/templates/landing/rural_stories/images/one/st_francis_767w.jpg 767w,
                  /themes/ncta/templates/landing/rural_stories/images/one/st_francis_991w.jpg 991w,
                  /themes/ncta/templates/landing/rural_stories/images/one/st_francis_1199w.jpg 1199w,
                  /themes/ncta/templates/landing/rural_stories/images/one/st_francis_2000w.jpg 2000w"
           sizes="100vw"
           src="/themes/ncta/templates/landing/rural_stories/images/one/st_francis_2000w.jpg" alt="white bench with St. Francis written on it">
      </div>
    </div>
  </div>

  <div class="story video-section dark-blue">
    <div class="video-wrap">
      <video id="vid1" class="video lazy" poster="/themes/ncta/templates/landing/rural_stories/images/posters/video_1_still.jpg" playsinline controls>
        <source type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' data-src="/themes/ncta/templates/landing/rural_stories/videos/video_1_the_community_captions.mp4">
      </video>
    </div>
  </div>

  <div class="story two text-section white">
    <div class="container">
      <div class="row one">
        <div class="col-md-12">
          <h2 class="section-title">Broadband Access Enables<br>Agricultural Communities to Thrive</h2>
        </div>
      </div>
      <div class="row two">
        <div class="col-md-6 col-left">
          <div class="quote-wrap">
            <div class="quote-sign">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 79.3 62.3" xml:space="preserve" enable-background="new 0 0 79.3 62.3"><g><path d="M28.8 62.3H0V41.7C0 33.4 0.7 26.8 2.2 22c1.5-4.8 4.2-9.1 8.2-13 4-3.8 9-6.8 15.2-9l5.6 11.9c-5.7 1.9-9.9 4.6-12.4 8 -2.5 3.4-3.8 8-3.9 13.6h13.9V62.3zM76.9 62.3H48.1V41.7c0-8.4 0.7-15 2.2-19.8 1.5-4.8 4.2-9.1 8.2-12.9 4-3.8 9-6.8 15.1-9l5.6 11.9c-5.7 1.9-9.9 4.6-12.4 8 -2.5 3.4-3.8 8-3.9 13.6h13.9V62.3z"/></g></svg>
            </div>
            <div class="quote-text">
              We have businesses moving in. We have houses being built. We have people moving here from other communities. I think that with this fiber project, we have a chance at actually reversing that population drop.
            </div>
            <div class="quote-attribution">— Jason Padgett, Eagle Communications</div>
          </div>
        </div>
        <div class="col-md-6 col-right">
          <p>Some of our nation’s greatest opportunities to bridge the digital divide are in rural regions like St. Francis,
            where entire communities’ economic well-being rely on agriculture.</p>

          <p>“Our whole community is tied to agriculture,” says Mike Bandel, General Manager of St. Francis Mercantile Equity Exchange,
            a local farmers cooperative with grain silos that tower over the tiny town, the first sight of life for miles as you approach
            from the west on US-36. “When things are good, things are good for the rest of the businesses in town.”</p>

          <p>Local St. Francis residents like Mike Bandel and Robert Grace, owner of an agriculture aviation company Grace Flying Service,
            believe the Eagle fiber project has significantly improved opportunity in the town, beyond just agriculture. Grace is a lifelong
            resident of St. Francis and saw his community transform in ways once unimaginable in an area this remote.</p>

          <p>“I was born in St. Francis and the divide in those days between urban and rural was a bigger divide,” says Grace.
            “People were poor but they didn’t know it because everybody else was. Now this town has an advantage to other small
            towns… if you want to move out in the country and you want to move to a small town where housing prices are cheap and
            there’s no traffic, you need a high speed internet connection. Not every small town has that.”</p>

          <p>Since Eagle came to the community, St. Francis transformed into a digital oasis in an otherwise desolate part of the
            country. After 50-plus years of population decline, the economic vitality of St. Francis finally looks to be on the rise.</p>

          <p>“We have businesses moving in. We have houses being built. We have people moving here from other communities,” says Padgett.
            “I think that with this fiber project, we have a chance at actually reversing that population drop.”</p>
        </div>
      </div>
    </div>
  </div>

  <div class="story image-section white">
    <div class="image-wrap fade-out">
      <div class="image">
        <img srcset="/themes/ncta/templates/landing/rural_stories/images/two/airplane_499w.jpg 499w,
                /themes/ncta/templates/landing/rural_stories/images/two/airplane_767w.jpg 767w,
                /themes/ncta/templates/landing/rural_stories/images/two/airplane_991w.jpg 991w,
                /themes/ncta/templates/landing/rural_stories/images/two/airplane_1199w.jpg 1199w,
                /themes/ncta/templates/landing/rural_stories/images/two/airplane_2000w.jpg 2000w"
         sizes="100vw"
         src="/themes/ncta/templates/landing/rural_stories/images/two/airplane_2000w.jpg" alt="white bench with St. Francis written on it">
      </div>
    </div>
  </div>

  <div class="story video-section white">
    <div class="video-wrap">
      <video id="vid2" class="video lazy" poster="/themes/ncta/templates/landing/rural_stories/images/posters/video_2_still.jpg" playsinline controls>
        <source type="video/mp4;" data-src="/themes/ncta/templates/landing/rural_stories/videos/video_2_agriculture_captions.mp4">
      </video>
    </div>
  </div>

  <div class="story three text-section light-blue">
    <div class="container">
      <div class="row one">
        <div class="col-md-12">
          <h2 class="section-title">Broadband Fosters Small<br>Business Opportunity</h2>
        </div>
      </div>
      <div class="row two">
        <div class="col-md-6 col-left">
          <div class="quote-wrap">
            <div class="quote-sign">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 79.3 62.3" xml:space="preserve" enable-background="new 0 0 79.3 62.3" style="color: blue;"><g><path d="M28.8 62.3H0V41.7C0 33.4 0.7 26.8 2.2 22c1.5-4.8 4.2-9.1 8.2-13 4-3.8 9-6.8 15.2-9l5.6 11.9c-5.7 1.9-9.9 4.6-12.4 8 -2.5 3.4-3.8 8-3.9 13.6h13.9V62.3zM76.9 62.3H48.1V41.7c0-8.4 0.7-15 2.2-19.8 1.5-4.8 4.2-9.1 8.2-12.9 4-3.8 9-6.8 15.1-9l5.6 11.9c-5.7 1.9-9.9 4.6-12.4 8 -2.5 3.4-3.8 8-3.9 13.6h13.9V62.3z"/></g></svg>
            </div>
            <div class="quote-text">
              We all need internet, we all need it more than most people know. And it’s astounding to me that the fastest internet I experience, whether I’m in Denver, New York City, or California, is almost always in my house in St. Francis, Kansas.
            </div>
            <div class="quote-attribution">— Robert Grace, Grace Flying Service</div>
          </div>
        </div>
        <div class="col-md-6 col-right">
          <p>High-speed internet connects small businesses to the global marketplace and enables rural communities to thrive economically.
            Today, the internet has become a necessity for businesses of all sizes, especially for small-town entrepreneurs, who must reach
            potential customers all over the world.</p>

          <p>Without connectivity, small towns like St. Francis risk being left behind.</p>

          <p>There are many underserved communities across the country similar to St. Francis before Eagle came to town.
            Through public-private partnerships, greater government funding has the power to unlock incredible opportunities
            for those who are falling behind due to the digital divide.</p>

          <p>Broadband connectivity keeps professionals living and working in rural America. It connects rural businesses to
            the rest of the country. And it allows students to access opportunity beyond their community. In terms of education,
            connectivity has become one of the greatest equalizers for schools in rural communities, enabling students to stream
            classes of every subject and every level, providing them with a tailored education, and allowing them to access opportunities
            beyond their community. And in rural communities, high-speed internet is reinventing healthcare for millions of people.</p>

          <p>Grace, Padgett, and Bandel are incredibly grateful for the opportunity Eagle provided them and their families, and for the
            first time in decades, St. Francis is optimistic about its future.</p>

          <p>“We all need internet, we all need it more than most people know,” says Grace. “And it’s astounding to me that the fastest
            internet I experience, whether I’m in Denver, New York City, or California, is almost always in my house in St. Francis, Kansas.”</p>

          <p>The partnership between St. Francis and Eagle Communications demonstrates how broadband can transform a community and connect
            them to opportunities that are often taken for granted in urban cores.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="story image-section light-blue">
    <div class="image-wrap">
      <div class="image">
        <img srcset="/themes/ncta/templates/landing/rural_stories/images/three/store_499w.jpg 499w,
                /themes/ncta/templates/landing/rural_stories/images/three/store_767w.jpg 767w,
                /themes/ncta/templates/landing/rural_stories/images/three/store_991w.jpg 991w,
                /themes/ncta/templates/landing/rural_stories/images/three/store_1199w.jpg 1199w,
                /themes/ncta/templates/landing/rural_stories/images/three/store_2000w.jpg 2000w"
         sizes="100vw"
         src="/themes/ncta/templates/landing/rural_stories/images/three/store_2000w.jpg" alt="white bench with St. Francis written on it">
      </div>
    </div>
  </div>

  <div class="story video-section light-blue">
    <div class="video-wrap">
      <video id="vid3" class="video lazy" poster="/themes/ncta/templates/landing/rural_stories/images/posters/video_3_still.jpg" playsinline controls>
        <source type="video/mp4;" data-src="/themes/ncta/templates/landing/rural_stories/videos/video_3_small_business_captions.mp4">
      </video>
    </div>
  </div>

  <div class="scroll-icon">
    <i class="fas fa-arrow-down"></i>
  </div>

</div>
